.github-box.repo
  .github-box-title
    %h3
      %a{class: "owner", href: owner.href}
        = owner.name
      !/
      %a{class: "repo", href: repo.href}
        = repo.name
    .github-stats
      %a{class: "watchers", href: repo.watchers.href}
        = repo.watchers.name
      %a{class:"forks", href: repo.forks.href}
        = repo.forks.name
  .github-box-download
    %p.updated
      Latest commit to the <strong>master</strong> branch on #{pushed_at}
    %a{class: "download", href: repo.zipfile}
      Download as zip
  .github-commits
    %table.table.table-striped
      - _(commits).each(function (commit) {
        %tr
          %td
            %img{class: "author-avatar", src: commit.author_avatar}
            %p.commit-message= commit.message
            %div.commit-author=commit.author
