.github-box.repo
  .github-box-title
    %h3
      %a{class: "owner", href: owner.href}
        = owner.name
      !/
      %a{class: "repo", href: repo.href}
        = repo.name
    .github-stats
      %a{class: "watchers", href: repo.watchers.href}
        = repo.watchers.name
      %a{class:"forks", href: repo.forks.href}
        = repo.forks.name
  .github-box-download
    %p.updated
      Latest commit to the <strong>master</strong> branch on #{pushed_at}
    %a{class: "download", href: repo.zipfile}
      Download as zip
  .github-commits
    %table.table.table-striped
      - _(commits).each(function (commit) {
        %tr
          %td
            %img{class: "author-avatar", src: commit.author_avatar}
            %p.commit-message.ellipsis= commit.message
            %a.commit-author{href: 'https://github.com/' + commit.author}
              =commit.author
            ! committed the goods&nbsp;
            %div.commit-date=commit.date_formatted
            -#! and pushed it&nbsp;
            -#%div.commit-date=commit.push_date_formatted
            %i.icon-hand-right.icon-float-right
            %a.commit-source{href: 'https://github.com/' + owner.name + '/' + repo.name + '/commit/' + commit.sha}
              !check out the diff&nbsp;
