<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dupondi.us - Launchpad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/assets/bootstrap_and_overrides.css" rel="stylesheet">
    <link href="/assets/dupondius.css" rel="stylesheet">
    <link href="/assets/dupondius-navigation.css" rel="stylesheet">
    <link href="/assets/planar.css" rel="stylesheet">
    <link href="/assets/jquery.selectable-grid.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <script src="/assets/libs/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="/assets/libs/bootstrap.js"></script>
    <script src="/assets/launchpad/scrolling-wizard.js"></script>
    <script src="/assets/launchpad/launchpad.js"></script>
    <script src="/assets/launchpad/jquery.selectable-grid.js"></script>
    <script src="/assets/libs/jquery.cookie.js"></script>
   </head>
<body>

<%= render "shared/empty_nav" %>

<div class="steps">
    <div id="page1" class="page" data-step="true" data-submit="page-one-done" data-next="github-details" data-navigation="nav-application-name">
        <div class="page-container">
          <%unless session[:token]%>
            <h1>Github Authorisation</h1>
            <p>
              Welcome to the Launchpad!
            </p>
            <p>&nbsp;</p>
            <p>
              In order to get the application up and running quickly, first we need to authorise access to your github account.
            </p>
            <p>
              When we have this access, we can create and push your new app directly to your github account and from here deploy all the way to production using the customisable dupondi.us continuous delivery solution.
            </p>
            <p>
              <a href="/source/new" class="btn btn-success btn-xlarge">
                <i class="icon-arrow-right icon-white"></i> Authorise me please
              </a>
            </p>
          <%else%>
            <h1>Github Authorised</h1>
            <p>
            Great, you have successfully authorised via github. You are logged in as <strong><%=session[:github_user]%></strong>.
            </p>
            <p>&nbsp;</p>
            <p>Now please type in the name of the application so we can get started. </p>
            <p>
              <input id="application-name" class="input-xxlarge" type="text" placeholder="Enter the name of the application"/>
              <input id="application-token" type="hidden" value="<%=session[:token]%>"/>
              <input id="github-account" type="hidden" value="<%=session[:github_user]%>"/>
            </p>
            <p>
              Private repo? <input type="checkbox" id="github-private"/>
            </p>
            <p>
              <a href="#" class="btn btn-success btn-xlarge" id="page-one-done">
                <i class="icon-arrow-down icon-white"></i> Get Started
              </a>
            </p>
            <b><a href="/source/new">REAUTHORISE ME PLEASE, I WANT TO USE A DIFFERENT GITHUB ACCOUNT</a> </b>
            <br/>(You will need to log out of your github account first)
          <%end%>
        </div>
    </div>

    <div id="github-details" class="page hidden" data-step="true" data-submit="github-details-done" data-next="aws-details">
        <div class="page-container">
          <h1>Github repository</h1>
          <p>
            From here you will be able to define your application, specifiying the exact technology and environments you want along the way.
          </p>
          <p>&nbsp;</p>
          <p>
            When we have finished here at the launchpad, your Github repository will be found here.
          </p>
          <p>&nbsp;</p>
          <p class="url">https://github.com/<%=session[:github_user]%>/<b class="url"></b>.git</p>
          <p>&nbsp;</p>
          <p>
            Dont worry about needing to remember this URL, you will be able to grab it later.
          </p>
          <p>
            <a href="#" class="btn btn-primary btn-xlarge" id="github-details-done">
              <i class="icon-arrow-down icon-white"></i> Awesome, lets continue!
            </a>
          </p>
        </div>
    </div>

    <div id="aws-details" class="page hidden" data-step="true" data-submit="aws-done" data-next="page2" data-navigation="nav-application-aws">
        <div class="page-container">
            <h1>AWS Authorisation</h1>
            <p>&nbsp;</p>
            <p>
              We also need to get your aws credentials that you want to create the new environment under.
              You can <strong>leave them empty</strong> to use the default ones.
            </p>
            <form>
              <div class="controls controls-row">
                <input id="aws-access-key-id" class="input-xlarge span3" type="text" placeholder="Enter your aws access key id"/>
                <input id="aws-secret-access-key" class="input-xlarge span5" type="text" placeholder="Enter your aws secret access key"/>
              </div>
              <p>
                We also need a private key associated with these credentials. You can create a new key pair or see existing
                ones on the <a href="https://console.aws.amazon.com/ec2/home?#s=KeyPairs" target="_blank">key pair section of the aws EC2 console</a>.
              </p>
              <textarea id="aws-private-key" class="span10" rows="5" placeholder="Enter your aws private key here"></textarea>
            </form>
            <p>
              <a href="#" class="btn btn-primary btn-xlarge" id="aws-done">
                <i class="icon-arrow-right icon-white"></i> Next step
              </a>
            </p>
        </div>
    </div>

    <div id="page2" class="page hidden" data-step="true" data-submit="page-two-done" data-next="region" data-navigation="nav-application-stack">
        <div class="page-container">
          <h1>Select the technology stack for the application</h1>
          <p>
            Select the your primary technology stack to use for the application. This cannot be undone once the environments have been created.
          </p>
          <div id="tech-stack" class="selectable-grid">
            <div class="selectable-grid-row">
              <div class="selectable-grid-column">
                <img src="/assets/rails_trans.png"/>
                <span>Ruby on Rails</span>
              </div>
              <div class="selectable-grid-column">
                <img src="/assets/grails.png"/>
                <span>Grails</span>
              </div>
              <div class="selectable-grid-column" data-disabled="true">
                <img src="/assets/java_trans.png"/>
                <span>Java</span>
                <div class="claim">Coming Soon</div>
              </div>
              <div class="selectable-grid-column" data-disabled="true">
                <img src="/assets/ios.png"/>
                <span>iOS</span>
                <div class="claim">Coming Soon</div>
              </div>
            </div>
          </div>
          <p>
            <a href="#" class="btn btn-primary btn-xlarge" id="page-two-done">
              <i class="icon-arrow-down icon-white"></i> Nice choice, keep going!
            </a>
          </p>
        </div>
    </div>

    <div id="region" class="page hidden" data-step="true" data-submit="region-selected" data-next="summary" data-navigation="nav-region-selected">
        <div class="page-container">
          <h1>Select the AWS region for the application</h1>
          <p>
            Select an AWS region which meets your needs in terms of cost and availability
          </p>
          <div>
            <select id="aws-region" class="span6">
              <option value="us-east-1" selected="selected">US East (Virginia)</option>
              <option value="us-west-1">US West (North California)</option>
              <option value="us-west-2">US West (Oregon)</option>
              <option value="eu-west-1">EU West (Ireland)</option>
              <option value="ap-southeast-1">Asia Pacific (Singapore)</option>
              <option value="ap-southeast-2">Asia Pacific (Sydney)</option>
              <option value="ap-northeast-1">Asia Pacific (Tokyo)</option>
              <option value="sa-east-1">South Amercia (Sao Paulo)</option>
            </select>
          </div>
          <p>
            <a href="#" class="btn btn-primary btn-xlarge" id="region-selected">
              <i class="icon-arrow-down icon-white"></i> Good! But before we start creating stuff...
            </a>
          </p>
        </div>
    </div>

    <div id="summary" class="page hidden" data-step="true" data-submit="summary-done" data-next="waiting">
        <div class="page-container">
          <h1>Summary of your selection</h1>
          <p>
            Please review the following information. You may go back and change any selections if you wish to.
          </p>
          <dl class="dl-horizontal summary">
              <dt>Application Name:</dt>
              <dd id="summary-application-name"></dd>

              <dt>AWS Account:</dt>
              <dd id="summary-aws-account"></dd>

              <dt>Technology Stack:</dt>
              <dd id="summary-technology-stack"></dd>

              <dt>AWS Region:</dt>
              <dd id="summary-aws-region"></dd>
          </dl>
          <p>Initially a brand new dashboard for your app will be created. From there you will be able to configure your environments further.</p>
          <p>
            <a href="#" class="btn btn-success btn-xlarge" id="summary-done">
              <i class="icon-ok icon-white"></i> Great, now lets create some environments!
            </a>
          </p>
        </div>
    </div>

    <div id="waiting" class="page hidden" data-step="true">
        <div class="page-container">
          <h1>Your environments are being created</h1>
          <p id="please-wait">
            Please wait for a moment...
          </p>
          <a id="create-another-link" href="">Start again</a></p>
        </div>
    </div>
</div>
</body>
</html>
